*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color */
.bg-blue-sky{  background-color: #add8e6;}
.bg-oro{   background-color: #daa520;}
.bg-blu{   background-color: #04008b;}
.bg-viola{   background-color: #ee82ee;}
.bg-celeste{   background-color: #1e90ff;}
.bg-rosa{   background-color: #ffc0cb;}
.bg-grigio{   background-color: #d3d3d3;}
.bg-verde{   background-color: #218b21;}
.bg-salmone{   background-color: #f08080;}
.bg-verde-acqua{   background-color: #21b2aa;}
.bg-acqua-marina{   background-color: #7fffd4;}
.bg-nero{   background-color: black;}

.col-quart{  width: 13%;}
.col-quart-big{  width: 18%;}
.col-small{  width: 25%;}
.col-big{  width: 45%;}
.col-jumbo{  width: 50%;}
.col-full{  width: 70%;}


.border-dashed{  border: 1px dashed black;}

.d-flex-center-xy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-background{
  height: 55px;
  padding-top: 10px;
}

.navbar{
  display: flex;
  margin: 0 auto;
  
  width: 70%;
  /* height: 30px; */
  justify-content: space-between;
  align-items: center;
}

.elements{
  flex: 1;
  /* height: 30px; */
  padding-top: 5px;
  padding-bottom: 7px;
}

.logo{
padding-left: 5px;
}
.links{
  display: flex;
  justify-content:space-around;
  flex-grow: 3;
}
.login{
  text-align: right;
  padding-right: 5px;
}

.TEMP-h300px{
  height: 300px;
}

.first-media{
  height: 200px;
}

.liniettapressoccheinvisibile{
  height: 3px;
}


.left-blue-element{
  height: 250px;
}
.right-pink-element{
  height: 250px;
}

.left-pink-element{
  height: 250px;
}

.right-blue-element{
  height: 250px;
}

.giant-box{
  height: 500px;
}

.green-box{
  height: 400px;
}

.block-multiple{
  padding-bottom: 20px;
  height: 280px;
}

.red-block{
  height: 250px;
  border: 1px dashed black;
}

.green-block{
  height: 250px;
  border: 1px dashed black;

}

.linea-white{
  height: 3px;
  background-color: rgb(82, 82, 82);
  border: none;
}

.footer-background{
  padding-top: 25px;
  padding-bottom: 0;
  height: 80px;
}

  
  .footer{
    display: flex;
    margin: 0 auto;
    flex-grow: 0;
  
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .footer-element{
    display: inline-block;
    border: 1px dashed black;
    padding: 0 5px;
  
}
